.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 0;
  left: -30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/* Nav link <a> */
.nav__link {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  text-decoration: none;
  list-style-type: none;
  transition: color 0.7s ease-in-out;
  color: #000000;

  /* what is the difference between this color and the default black? */
}

.nav__link:hover {
  color: #2f80ed;
}
