@import url('../vendor/normalize.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/nav.css');
@import url('../blocks/recipes.css');
@import url('../blocks/reservation.css');
@import url('../blocks/menu.css');
@import url('../blocks/about.css');
@import url('../blocks/footer.css');


/* UNIVERSAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

/* --HEADER SECTION-- */